<h1>Ironhack Cinema</h1>
<h3>Click on the movie to check the showtimes!</h3>


<!-- <div><%= allmovies.title %></div> -->
<div id="movie-container">

    <section class="movie">
        <img src="<%= allmovies[0].image %>" alt="">
        <h3><%= allmovies[0].title %></h3>
        <a href="">See more</a>
    </section>
    
    
    <section class="movie">
        <img src="<%= allmovies[1].image %>" alt="">
        <%= allmovies[1].title %>
        <a href="">See more</a>
    </section>

    <section class="movie">
        <%= allmovies[2].image %>
        <%= allmovies[2].title %>
        <a href="">See more</a>
    </section>

    <section class="movie">
        <%= allmovies[3].image %>
        <%= allmovies[3].title %>
        <a href="">See more</a>
    </section>
    
    <section class="movie">
        <%= allmovies[4].image %>
        <%= allmovies[4].title %>
        <a href="">See more</a>
    </section>
    
    
    <section class="movie">
        <%= allmovies[5].image %>
        <%= allmovies[5].title %>
        <a href="">See more</a>
    </section>

    <section class="movie">
        <%= allmovies[6].image %>
        <%= allmovies[6].title %>
        <a href="">See more</a>
    </section>

    <div class="movie">
        <%= allmovies[7].image %>
        <%= allmovies[7].title %>
        <a href="">See more</a>

    </div>



</div>




<!-- <% allmovies.forEach(movie => { %>
<%= movie.title  %>     
<% }) %> --> -->